.greenBarTop{
  display: flex;
  justify-content: space-between;
  padding: 4px 100px 4px 100px ;
  box-sizing: border-box;
  background-color: #00472F;
  color: #fff;
}

.Nav{
  padding: 16px 100px 16px 100px;

}
.Nav img{
  width: 140px;
}

