.greenBarTop{
  display: flex;
  justify-content: space-between;
  padding: 4px 80px 4px 80px ;
  box-sizing: border-box;
  background-color: #00472F;
  color: #fff;
}

.Nav1{
  padding: 16px 80px 16px 80px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(230, 230, 230);
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 10;
}
.Nav2{
  padding: 16px 80px 16px 80px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(230, 230, 230);
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 10;
  top:0;
  box-shadow: rgba(105, 105, 105, 0.45) 0px 25px 20px -20px;
}
.Nav1 img{
  width: 140px;
}
.Nav2 img{
  width: 140px;
}
.NavLinkDiv{
  display: flex;
  justify-content: space-between;
  width: 380px;
}

.NavLink{
  color: #000000;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
}
.NavLinkActive{
  font-weight: 600;
  font-size: 18px;
  text-decoration: underline;
  color: #007850;
}

.NavLink:hover{
   text-decoration: underline;
   color: #007850;
}

.searchBar{
  display: flex;
  justify-content: space-between;
  padding: 0px 16px 0px 16px;
  box-sizing: border-box;
  border-radius:30px;
  background-color: rgb(236, 236, 236);
  align-items: center;
  width: 15%;
  height: 36px;
}

.inputBox{
  background-color: rgb(238, 238, 238);
  height: 32px;
  padding: 0px 20px 0px 0px;
  box-sizing: border-box;
  border-radius: 20px;
  
}
.inputBox>input{
  height: 100%;
  padding-left: 20px;
  background-color: rgb(238, 238, 238);
  margin-right: 20px;
  box-sizing: border-box;
  width: 180px;
  border-radius: 20px;
}
.Account{
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  width: 180px;
  font-weight: 600;
}
.AccountLinks:hover{
  text-decoration: underline;
   color: #007850;
}
.footerMainDiv{
  margin: 100px 80px 0px 80px;
  border-top:2px solid rgb(232, 232, 232);
  padding: 45px 0px 0px 0px;
}
.mainFooter{
  display: flex;
  justify-content: space-between;
}
#imgFooter{
  width: 140px;
}

.smallImageBox{
  width:65px;
  height: 38px;
  border: 1px solid rgb(228, 228, 228);
  border-radius: 6px;
}
.smallImageBox>img{
  width:94%;
  margin: auto;
  height: 96%;
}

.footerHeadings{
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 18px;
}
.linkDivs{
  width: 12%;
}
.linkDivs>a{
display: block;
margin-bottom: 6px;
font-size: 14px;
}
.linkDivs>a:hover{
  text-decoration: underline;
  color: #007850 ;
  font-weight: 600;
}

.footerBottom{
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px 20px 0px;
  margin-top: 30px;
  border-top:2px solid rgb(232, 232, 232);
}

.bgPoster{
  background-image: url('./Images/background.svg');
  height: 600px;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0px 140px 0px 140px;
  box-sizing: border-box;
}

.cardDiv{
  margin: 60px 80px 0px 80px;
  
}
.cardParent{
  display: flex;
  overflow-x: auto;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 100%;
}
.cardParent>div{
  flex: 0 0 auto;
  width: 220px;
  height: 290px;
  margin-right: 20px;
  margin-bottom: 30px;
  border-radius: 12px;
  position: relative
}

.cardParent > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.cardParent::-webkit-scrollbar{
  height: 6px;
}
.cardParent::-webkit-scrollbar-track {
  background-color: #cde4dd ;
  border-radius: 20px;
}
.cardParent::-webkit-scrollbar-thumb {
  background-color: #00472F;;
  border-radius: 20px;
  cursor: pointer;
}
.cardParent::-webkit-scrollbar-thumb:hover {
  background-color: #007850;
}

.HomePageProdCards{
  width: 330px;
  height: 430px;
  border: 2px solid #daf2ea ;
  border-radius: 16px;
  padding:0px 20px 0px 20px;
  box-sizing: border-box;
  flex: 0 0 auto;
  margin-bottom: 30px;
  margin-right: 30px;
}

.HomePageProdCards button{
  margin-top: 20px;
  padding :5px 22px 5px 22px;
  border: 2px solid #00472F;
  color:#00472F;
  font-weight: 600;
  border-radius: 50px;
  transition: .5s;
}

.HomePageProdCards button:hover{
  padding :5px 22px 5px 22px;
  color:#fff;
  font-weight: 600;
  background-color: #00472F;
  border-radius: 50px;
  transition: .5s;
}
.productCards{
  display: flex;
  overflow-x: auto;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 100%;
}

.productCards::-webkit-scrollbar{
  height: 6px;
}
.productCards::-webkit-scrollbar-track {
  background-color: #cde4dd ;
  border-radius: 20px;
}
.productCards::-webkit-scrollbar-thumb {
  background-color: #00472F;;
  border-radius: 20px;
  cursor: pointer;
}
.productCards::-webkit-scrollbar-thumb:hover {
  background-color: #007850;
}